.Card {
  background-color: white;
  color: black;
  height: 250px;
  margin: 10px;
  width: 220px;
}

.favoriteButton {
  border: none;
}

.favoriteHeart {
  /* content: url('../../Images/favorite.svg') */
  background-color: pink;
}