.Card {
  background-color: white;
  border: 3px solid grey;
  border-radius: 20px;
  color: black;
  height: 250px;
  margin: 10px;
  width: 210px;
}

.favoriteButton {
  border: none;
}

.favoriteHeart {
  /* content: url('../../Images/favorite.svg') */
  background-color: pink;
}