main {
  grid-area: 2 / 2 / 6 / 6;
  text-align: center;
}

.nav, .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
}

a.nav {
  align-content: center;
  color: white;
  font-size: 38px;
  height: 50px;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 200px;
}

a.nav:hover {
  color: #ffd700;
}

img {
  height: 40px;
  padding: 5px;
}

a.nav:hover .r2d2 {
  content: url(../../Images/hover-r2d2.svg);
}

a.nav:hover .dStar {
  content: url(../../Images/hover-death-star.svg);
}

a.nav:hover .mFalcon {
  content: url(../../Images/hover-millennium-falcon.svg);
}

a.nav:hover .heart {
  content: url(../../Images/hover-heart.svg);
}