main {
  grid-area: 2 / 2 / 6 / 6;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}

a.nav {
  align-content: center;
  color: white;
  font-size: 36px;
  height: 50px;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 200px;
}

a.nav:hover {
  color: #ffd700;
}

a.nav:focus {
  color: #ffd700;
}

img {
  height: 40px;
  padding: 5px;
}

a.nav:hover .r2d2,
a.nav:focus .r2d2 {
  content: url(../../Images/hover-r2d2.svg);
}

a.nav:hover .dStar,
a.nav:focus .dStar {
  content: url(../../Images/hover-death-star.svg);
}

a.nav:hover .mFalcon,
a.nav:focus .mFalcon {
  content: url(../../Images/hover-millennium-falcon.svg);
}

a.nav:hover .heart,
a.nav:focus .heart {
  content: url(../../Images/hover-heart.svg);
}